[user]
    name = Tyler Hollingsworth
    email = tyholling@gmail.com
[core]
    autocrlf = input
[color]
    ui = always
    status = always
[color "diff"]
    meta = dim
    old = red black
[color "status"]
    localBranch = green bold
    remoteBranch = red bold
[diff]
    algorithm = minimal
    context = 4
    noprefix = true
[push]
    default = simple
[fetch]
    prune = true
