[advice]
	detachedHead = false
[clean]
	requireForce = false
[color]
	branch = always
	diff = always
	status = always
[color "branch"]
	current = green bold
[color "diff"]
	meta = dim
	old = red black
[color "status"]
	localBranch = green bold
	remoteBranch = red bold
[core]
	abbrev = 8
	autocrlf = input
	pager = delta --color-only
	safecrlf = false
	whitespace = cr-at-eol
[delta]
	line-numbers = true
	syntax-theme = zenburn
[diff]
	algorithm = minimal
	context = 1
	noprefix = true
[fetch]
	prune = true
[interactive]
	diffFilter = delta --color-only
[log]
	decorate = false
[merge]
	ff = false
[pull]
	ff = only
[push]
	default = simple
[user]
	email = tyholling@gmail.com
	name = Tyler Hollingsworth
