[advice]
	detachedHead = false
[clean]
	requireForce = false
[color]
	branch = always
	diff = always
	status = always
[color "branch"]
	current = green bold
[color "diff"]
	meta = dim
	old = red black
[color "status"]
	localBranch = green bold
	remoteBranch = red bold
[commit]
	gpgsign = false
[core]
	abbrev = 8
	autocrlf = input
	pager = delta --color-only
	safecrlf = false
	whitespace = cr-at-eol
[delta]
	line-numbers = true
	minus-style = red
	minus-emph-style = normal 052
	plus-style = green
	plus-emph-style = normal 235
	syntax-theme = none
	tabs = 2
[diff]
	algorithm = minimal
	context = 1
[fetch]
	prune = true
[init]
	defaultBranch = main
[interactive]
	diffFilter = delta --color-only
[merge]
	ff = false
[pull]
	ff = only
[push]
	autoSetupRemote = true
	default = simple
[user]
	email = tyholling@gmail.com
	name = Tyler Hollingsworth
